
* {
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #777;
}


html, body {
    margin: 0;
    padding: 0;
}


.nav ul {
    margin: 0;
}

.nav li {
display: inline;
}

.nav a {
display: inline-block;
padding: .5em;
color: white;
text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 35px;
    font-weight: 100;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}


.main-header{

    background-image: url(images/header-background.jpg);
    background-size: cover;
    padding-bottom: 20px;

}

.band-name {
    text-align: center;
    margin: o;
    font-size: 4em;
    font-family: fantasy;
    font-weight: bold;
    color: white;
}

.band-name-large {
    font-size: 7em;
}


.content-section {
    margin: 1em;

}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em

}

.section-header {
    font-family: fantasy;
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.about-band-image {

    float: left;
    height: 200px;
    width: auto;
    margin: 15px;
    border-radius: 50%;

}

.main-footer {
    background-color: #abe0eb;
    color: white;
    padding: 2.5em 0;
}

.main-footer-container {
    display: flex;

}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
    align-items: center;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}